<header>
    <h1>Буба {{main_title}}</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/users/registration">Registration</a></li>
            <li><a href="/comments">Comments test</a></li>
        </ul>
    </nav>
</header>