* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    line-height: 1;
}

ul {
    list-style: none;
}

:root {
    --main-color: #FEB700;
}

html {
    font-size: 10px;
}

.header {
    background-color: var(--main-color);
}

.header-container {
    display: flex;
    height: 16rem;
    justify-content: center;
    align-items: center;
}

.header-text {
    text-transform: uppercase;
    font-family: 'Times New Roman';
    font-size: 5rem;
}

.columns {
    margin: auto;
    padding: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.column-container {
    width: calc((100% - 10rem) / 3);
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #000000;
}

.column_text {
    padding: 3rem 3.3rem;
    font-family: 'Times New Roman';
    font-size: 2rem;
}

.column_text h2 {
    font-weight: bold;
}

.column_image {
    background-size: cover;
    background-position: center;
    padding-bottom: 150%;
}

.SSPW_image {
    background-image: url(../img/SSPW.png);
}

.FYBB_image {
    background-image: url(../img/FYBB.png);
}

.HEG_image {
    background-image: url(../img/HEG.png);
}

.footer {
    background-color: #FEB700;
}

.footer a {
    text-decoration: none;
    color: #000000;
}

.footer-container {
    display: flex;
    height: 16rem;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    padding-left: 3rem;
    padding-right: 3rem;
    text-transform: uppercase;
    font-family: 'Times New Roman';
    font-size: 5rem;
}