html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.visually-hidden {
    display: none;
}

body {
    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #666666;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.main-navigation {
    height: 140px;
    width: auto;
    padding: 0px 215px;
    list-style: none;
}

.main-navigation a {
    color: #666666;
}

.main-navigation-logo-and-contacts {
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.main-navigation-contacts {
    margin: auto 0;
}

.main-navigation-site {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.main-navigation-site-navigation {
    background-color: yellow;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.main-navigation-site-navigation a:hover,
.main-navigation-site-navigation a:focus {
    background-color: #b6b6b6;    
}

.main-navigation-social-media {
    display: flex;
    list-style: none;
}

.slider-section {
    height: 650px;
    width: auto;
    text-align: center;
    background-color: #ffffff;
    background-image: url("img/recordPlayer.png");
    background-position: top center;
    background-repeat: no-repeat;
}

.slider-section h2 {
    background-color: #ffffff;
}

.slider-section p {
    background-color: #ffffff;
}

.slider-section a {
    background-color: #fa6c65;
}

.services-section {
    text-align: center;
}

.services-section h3 em {
    font-style: normal;
    color: #fa6c65;    
}

.services-section-buttons {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.latest-projects-section {
    height: 520px;
    width: auto;
    text-align: center;
}

.latest-projects-section-header > h3 {
    display: inline-block;
    color: #fa6c65; 
}

.latest-projects-section-filter {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.latest-blog-section {
    text-align: center;
}

.latest-blog-section-header > h3 {
    display: inline-block;
    color: #fa6c65; 
}

.latest-blog-section-list {
    display: flex;
    list-style: none;
}

.footer-list {
    height: 380px;
    width: auto;
    display: flex;
    background-color: #303538;
}

.footer-copyright {
    height: 80px;
    background-color: #2D3134;
}