* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    line-height: 1;
}

ul {
    list-style: none;
}

:root {
    --main-color: #0000FF;
}

html {
    font-size: 10px;
}

.header,
.footer {
    background-color: var(--main-color);
}

.header-container,
.footer-container {
    height: 10rem;
    display: flex;
    align-items: center;
}

.header-text,
.footer-text {
    padding-left: 35px;
    padding-right: 35px;
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Helvetica;
}

.content-container {
    min-width: fit-content;
    min-height: calc(100vh - 20rem);
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-table {
    display: flex;
    flex-shrink: 0;
    flex-basis: content;
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin: 2rem;
    height: 16.5rem;
    width: 33rem;
    box-sizing: border-box;
    border: 5px solid #000000;
    font-family: Helvetica;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0em;
}

@media screen and (min-width: 600px) {

    .content-container {
        margin: auto;
        margin-top: 10rem;
        margin-bottom: 10rem;
    }

    .main-table {
        margin: 1rem;
        width: 60rem;
        height: 30rem;
        font-family: Helvetica;
        font-size: 5rem;
    }
}

.footer a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer-container {
    justify-content: space-between;
}